{% extends "home.html" %}
  <script src="{{ url_for('static', filename='location.js') }}"></script>
{% block custom_header %}

{% endblock %}

{% block body %}
<h1>Command the Robot!</h1>

The bot is currently at:

<p id="location"> <script>get_location()</script>    </p>

<form action="" method="post">
  {{ form.csrf }}
  
  <div class="input text">
    {{ form.name.label }} {{ form.name }}
  </div>
  
  <div class="input submit">
    <input type="submit" value="Submit" />
  </div>
</form>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul>
  {% for message in messages %}
  <li>{{ message[1] }}</li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}


{% endblock %}